language: c

sudo: false

compiler:
  - gcc
  - clang

cache:
  directories:
    - $HOME/local
    - $HOME/.luarocks
    - $HOME/.ccache
    - $HOME/.local

addons:
  apt:
    sources:
    packages:
      - lua5.1
      - liblua5.1-0-dev
      - luarocks
      - uuid-dev
      - aspell
      - libopenmpi-dev
      - ccache
      - libhwloc-dev
  coverity_scan:
    project:
      name: "grondo/flux-core"
      description: "Build submitted via Travis CI"
    notification_email: mark.grondona@gmail.com
    build_command_prepend: "./autogen.sh && ./configure"
    build_command:   "make -j 4"
    branch_pattern: coverity_scan

env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "T06LmG6hAwmRculQGfmV06A0f2i9rPoc8itDwyWkmg2CbtCqDyYV93V53jsVknqKA1LA9+Yo7Q3bJnnEAWI7kWAptTcL5ipRycYkl5FqoYawkwRdQW3giZwbs9zRchrwFmZ03N0hRfl31IntXhDmj5EkHOZoduMpkQFFGo0XDC4="

before_install:
  # Capture the "jobid" of this run (i.e. "1" in Job #4.1)
  - export JOBID=${TRAVIS_JOB_NUMBER##*.}

  - test "$TRAVIS_PULL_REQUEST" == "false" || export CCACHE_READONLY=1
  - if test "$CC" = "clang"; then export CCACHE_CPP2=1; fi
  - eval $(./src/test/travis-dep-builder.sh --printenv)
  - ./src/test/travis-dep-builder.sh --cachedir=$HOME/local/.cache

  # coveralls-lcov required only for coveralls upload:
  - if test "$JOBID" = "1" ; then gem install coveralls-lcov; fi

script:
 - export CC="ccache $CC"
 - export MAKECMDS="make distcheck"

 # Enable coverage only on 1 of N builds,
 # We can't use distcheck here, it doesn't play well with coverage testing:
 - if test "$JOBID" = "1" ; then ARGS="--enable-code-coverage"; MAKECMDS="make && make check-code-coverage && lcov -l flux*-coverage.info"; fi

 - export FLUX_TESTS_LOGFILE=t
 - if test "$COVERITY_SCAN_BRANCH" != "1" ; then ./autogen.sh && ./configure ${ARGS} && eval ${MAKECMDS}; fi

after_success:
 - ccache -s
 # Upload results to coveralls.io for first job of N
 - if test "$JOBID" = "1" ; then coveralls-lcov flux*-coverage.info ; fi

after_failure:
 - find . -name *.output | xargs -i sh -c 'printf "\033[31mFound {}\033[39m\n";cat {}'
 - find . -name *.cmbd.log | xargs -i sh -c 'printf "\033[31mFound {}\033[39m\n";cat {}'
