/flux
/flux-comms
/flux-comms-stats
/flux-event
/flux-jstat
/flux-keygen
/flux-kvs
/flux-logger
/flux-module
/flux-mping
/flux-ping
/flux-snoop
/flux-start
/flux-start-screen
/flux-start-single
/flux-start-srun
/flux-up
/flux-zio
/builtin-cmds.c
