/flux
/flux-event
/flux-exec
/flux-job
/flux-keygen
/flux-kvs
/flux-logger
/flux-module
/flux-ping
/flux-pkill.py
/flux-python3.*
/flux-queue
/flux-run-epilog
/flux-run-housekeeping
/flux-run-prolog
/flux-start
/flux-terminus
/flux-top
/flux-R
/builtin-cmds.c
