Source: flux-core
Section: devel
Priority: optional
Maintainer: Mark A. Grondona <mark.grondona@gmail.com>
Standards-Version: 4.1.2
Build-Depends:
  debhelper (>= 10),
  flux-security (>= 0.13.0),
  libarchive-dev,
  uuid-dev,
  libzmq3-dev,
  libjansson-dev,
  liblz4-dev,
  libhwloc-dev,
  libsqlite3-dev,
  lua5.1,
  liblua5.1-dev,
  lua-posix,
  python3-dev,
  python3-cffi,
  python3-yaml,
  python3-ply,
  python3-sphinx,
  jq

Homepage: https://github.com/flux-framework/flux-core
Package: flux-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  Core support for the Flux resource manager framework
 flux-core implements the communication layer and lowest level
 services and interfaces for the Flux resource manager framework.
 It consists of a distributed message broker, plug-in modules
 that implement various distributed services, and an API and set
 of utilities to utilize these services.
 Note: This package is for testing purposes only and may not comply
 with all Debian packaging guidelines.
